.bg{
    background-color: rgb(255, 166, 65);
    height: 400px;
    width: 350px;
    margin-top: 50px;
    text-align: center;
    
}
.but{
    background-color: rgb(224, 89, 10);
    height: 50px;
    width: 50px;
    
    
    
}
